body{
    background-image: url("abcd.jpg");
    color: azure;
}

.logo{
    font-family: 'Gloock', serif;
    color: black;
    font-size: 2vw;
}
.name{
    text-align: center;
    color: aliceblue;
}
.progress{
    margin-right: 2vw;
    margin-left: 2vw;
}